/*@import url(http://fonts.googleapis.com/css?family=Ubuntu);*/

body {
    background-color:#F6F4F0; 
    margin: 0px;
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    color:rgb(81,81,71);
}
.centerPage {
    min-width: 1024px;
    width: 1024px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header {
    position: relative;
    height: 154px;
    /*padding: 48px 64px 44px;*/  
}
header>div {
    position:absolute;
    top: 48px;
}
#logo_home {
/*    min-height: 62px;
    width: 448px;*/
    left:64px;
}

#menu_superior{
/*    min-height: 62px;
    width: 256px;*/
    position: relative;
    left:512px; /*margin-left: 512px;*/
    font: 13px ubuntu,sans-serif;
    line-height:130%;
	width: 110px;
}
#menu_superior dt {
    cursor: pointer;
}
#menu_superior .actual {
    color: #f6290c;
    font-weight: bold;
}
#menu_superior span:hover{
	color:#f6290c;
}
#logos {
    left: 888px; /*margin-left: 64px;*/	
}
#logos div {
    cursor: pointer;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    display: inline-block;
}
#logos > #logo_es {
	background-image: url('../images/BOTO_esp1.png');
}
#logos > #logo_es.active {
	background-image: url('../images/BOTO_esp3.png');
}
/* hover es mentre el mouse esta a sobre, active es mentre sesta pulsant */
#logos > #logo_es:hover {
	background-image: url('../images/BOTO_esp2.png');
}
#logos > #logo_es:active {
	background-image: url('../images/BOTO_esp3.png');
}

#logos > #logo_ca {
	background-image: url('../images/BOTO_cat1.png');
}
#logos > #logo_ca.active {
	background-image: url('../images/BOTO_cat3.png');
}
#logos > #logo_ca:hover {
	background-image: url('../images/BOTO_cat2.png');
}
#logos > #logo_ca:active {
	background-image: url('../images/BOTO_cat3.png');
}

#logos > #logo_en {
	background-image: url('../images/BOTO_eng1.png');
}
#logos > #logo_en.active {
	background-image: url('../images/BOTO_eng3.png');
}
#logos > #logo_en:hover {
	background-image: url('../images/BOTO_eng2.png');
}
#logos > #logo_en:active {
	background-image: url('../images/BOTO_eng3.png');
}

#logos > #logo_info {
	position: relative;
   /* left: 944px; margin-left: 64px; top: 76px;*/  
    top: 3px;
	left: 58px;
	background-image: url('../images/BOTO_info1.png');
}
#logos > #logo_info.active {
	background-image: url('../images/BOTO_info3.png');
}
#logos > #logo_info:hover {
	background-image: url('../images/BOTO_info2.png');
}
#logos > #logo_info:active {
	background-image: url('../images/BOTO_info3.png');
}
tr.books_description td{
	/*padding-top: 10px;*/
	padding-left: 15px;
}
tr.books_images td:nth-child(even) {
	min-width: 200px;
	background-image: url('../images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #FFF;
}
#imatges{
    position: relative;
    height: 340px;
    background-color: rgb(215,0,0);
    background-clip: content-box;
    
}

#imatge_creu{
    position:absolute;
    left:768px;
    max-height: 340px;
    max-width: 256px;
}

#marc_text_resum{
    position:absolute;
    padding: 30px;
    font-size: 11.5px;
    color: white;
    line-height: 130%;
	width: 452px;
}
#marc_info{
    position:absolute;
    padding: 30px 20px 30px 30px;
    font-size: 11.5px;
    color:white; 
    line-height:130%;
    font-weight: 100;
}
#fons_info{
    position:absolute;
    left: 512px;
    height: 340px;
    width: 256px;
    background-clip: content-box;
    background: rgb(81,81,71);

}
#btn_mail {
    cursor: pointer;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    display: inline-block;
	background-image: url('../images/BOTO_mail1.3.png');
}
#btn_mail:hover {
	background-image: url('../images/BOTO_mail2.png');
}
#btn_mail:active {
	background-image: url('../images/BOTO_mail3.png');
}
#developers_info {
	margin-top: 100px;
	color: rgb(148,148,141);
	font-size: 10px;
}


#sub_text{
	width: 1024px;
    padding-top: 10px;/*43px*/
    left: 64px;
    font-size: 13px;
}
#sub_text div {
	position: relative;
	left:64px;
}
footer {
    height: 10px;
    padding: 32px 64px; 
}

.tr {
	display: none;
}
